@page

@using WebpackIntegration1.Pages.Home

@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<h3>This is the Index entry page.</h3>

<p id="fillthis"></p>

@section footer {
    <p>Home Footer</p>
}